body{
  margin:0;
  background: radial-gradient(#DBF3FA,#74D7F0);
}
.h1{
	border:blue 8px solid;
	border-radius:16px;
	text-align:center;
	width:15%;
	height:8%;
	margin-top:3%;
	margin-left:12%;
}
@media screen and (max-width:767px){
	.h1{
	border:blue 8px solid;
	border-radius:16px;
	text-align:center;
	width:45%;
	height:8%;
	margin-top:3%;
	margin-left:25%;
	font-size:15px;
	}
}
@media screen and (min-width:768px) and (max-width:1439px){
	.h1{
	border:blue 8px solid;
	border-radius:16px;
	text-align:center;
	width:25%;
	height:8%;
	margin-top:3%;
	margin-left:15%;
	font-size:13px;
	}
}
.p{
	margin-right:55%;
	margin-left:6%;
	margin-top:5%;
	font-size:25px;
}
.p1{
	margin-right:55%;
	margin-left:6%;
	margin-top:1%;
	font-size:34px;
}
@media screen and (max-width:767px){
	.p{
	text-align:center;
	margin-left:15%;
	margin-right:10%;
	margin-top:5%;
	font-size:16px;
	}
	.p1{
	margin-right:10%;
	text-align:center;
	margin-left:15%;
	margin-top:1%;
	font-size:25px;
	}
}
@media screen and (min-width:768px) and (max-width:1439px){
	.p{
	margin-left:8%;
	margin-right:45%;
	margin-top:5%;
	font-size:22px;
	}
	.p1{
	margin-right:45%;
	margin-left:8%;
	margin-top:1%;
	font-size:25px;
	}
}
.img{
	margin-left:20%;
	margin-top:-50%;
}
.img1{
	width:100%;
	height:80%;
}
@media screen and (max-width:767px){
	.img1{
		display:none;
	}
}	
@media screen and (min-width:768px) and (max-width:1023px){
	.img{
	margin-left:20%;
	margin-top:-75%;
   }
}
@media screen and (min-width:1024px) and (max-width:1439px){
	.img{
	margin-left:20%;
	margin-top:-60%;
   }
}
#button{
	margin-left:13%;
	border-radius:30px;
	border: solid 8px blue;
	background-color:transparent;
	padding:20px;
	width:10%;
	height:10%;
	cursor:pointer;
}
@media screen and (max-width:767px){
	#button{
	margin-left:25%;
	border-radius:30px;
	border: solid 8px blue;
	background-color:transparent;
	padding:20px;
	width:45%;
	height:10%;
	cursor:pointer;
   }
}
@media screen and (min-width:768px) and (max-width:1023px){
	#button{
	margin-left:20%;
	border-radius:30px;
	border: solid 8px blue;
	background-color:transparent;
	padding:20px;
	width:18%;
	height:10%;
	cursor:pointer;
   }
}
@media screen and (min-width:1024px) and (max-width:1439px){
	#button{
	margin-left:20%;
	border-radius:30px;
	border: solid 8px blue;
	background-color:transparent;
	padding:20px;
	width:18%;
	height:10%;
	cursor:pointer;
   }
}
#button:hover{
	background-color:blue;
}
#link{
	font-size:30px;
	color:black;
	text-decoration:none;
}
.downtext{
	margin-left:45%;
	bottom:-10%;
}
@media screen and (max-width:767px){
	.downtext{
		margin-top:80%;
		margin-left:37%;
		margin-right:35%;
		font-size:12px;
	}
}	
@media screen and (min-width:768px) and (max-width:1023px){
	.downtext{
		margin-top:37%;
		margin-left:37%;
		margin-right:35%;
		font-size:15px;
	}
}
@media screen and (min-width:1024px) and (max-width:1439px){
	.downtext{
		margin-top:25%;
		margin-left:37%;
		margin-right:35%;
		font-size:15px;
	}
}